version: 2.1
jobs:
  dj:
   docker:
      - image: debian:stable-slim
   resource_class: large
   steps:
      - run:
          command: |
            apt-get update && apt-get -y install curl libssl-dev bc bison git zip flex libncurses5-dev wget tar bzip2
            curl -O https://raw.githubusercontent.com/djkabutar/efx_run_ci/master/setup_drone
            chmod +x setup_drone
            ./setup_drone fpga_miner_mipi FPGA_miner T85F324
          no_output_timeout : 5h
workflows:
  version: 2.1
  cooking:
    jobs:
      - dj
